.mutuals::after, .mutuals::before {
	font-family: tumblr-icons, None;
	font-weight: normal;
	font-size: 1.23em;
	line-height: 0;
}

.xkit-mutual-icon {
	height: 1.23em;
	vertical-align: text-bottom;
	padding-right: 0.3em;
}

.mutuals-legacy:not(.mutuals-front)::after {
	content: "\EA59";
	padding-left: 0.3em;
}

.mutuals-legacy.mutuals-front::before {
	content: "\EA59";
	padding-right: 0.3em;
}

body.xkit-april-fools .mutuals-legacy:not(.mutuals-front)::after,
body.xkit-april-fools .mutuals-legacy.mutuals-front::before {
	content: "\EAA7";
	color: #00b8ff;
}
