.poke {
	position: absolute;
	right: -126px;
}

.poke img, .caught img {
	width: 100px;
	image-rendering: pixelated;
}

.poke::after,
.caught .poke_sprite div::after {
	font-size:26px;
	font-weight: bold;
	position: relative;
	left: -26px;
}

.poke[data-pokegender="male"]::after,
.caught[data-pokegender="male"] .poke_sprite div::after {
	content: "\2642";
	color: #6CA0DC;
}

.poke[data-pokegender="female"]::after,
.caught[data-pokegender="female"] .poke_sprite div::after {
	content: "\2640";
	color: #FF69B4;
}

.poke[data-pokegender="genderless"]::after,
.caught[data-pokegender="genderless"] .poke_sprite div::after {
	content: "\26AA";
	color: #9370DB;
}

.caught {
	border-bottom: 1px solid rgb(190,190,190);
}

.caught .poke_sprite{
	width: 130px;
}

.caught .poke_stats {
	vertical-align: middle;
}

#xkit-pokes-custom-panel {
	width: 100%
}

#xkit-loading_pokemon {
	text-align: center;
	position: relative;
	top: 50px;
}