details.tmblr-truncated {
	text-align: inherit !important;
}
summary.tmblr-truncated-link {
	text-align: center;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
details.tmblr-truncated + p {
	display: none !important;
}
