

.xblacklist_blacklisted_post {
	opacity: 0.7;
	padding: 15px 0px 7px 0px !important;
}

.xblacklist_blacklisted_post .post_footer { display: none !important; }

.xblacklist_blacklisted_post .post_footer,
.xblacklist_blacklisted_post .post_header,
.xblacklist_blacklisted_post .xtimestamp {
	display: none;
}

.xblacklist_excuse {
	text-align: left; font-size: 12px;
	line-height: 50px;
	margin-top: 5px;
}

.xblacklist_excuse_container {
	border-radius: 3px;
	position: relative;
}

.xblacklist_open_post {
	position: absolute !important;
	height: 30px;
	line-height: 30px;
	right: 5px;
}

.xblacklist_open_post:active {
	position: absolute !important;
	right: 5px !important;
}

.xblacklist_hidden_post {
	display: none !important;
	height: 0px !important; width: 0px !important;
	overflow: hidden !important;
}



/* Workaround for chrome bug
 * things that are partially transparent and position: sticky;
 * get launched like 200 px to the left
 */
.xblacklist_blacklisted_post .post_avatar.post-avatar--sticky .post_avatar_wrapper {
	position: relative;
	top: 0;
}

.xblacklist_excuse_container ~ * {
	display: none;
}

.xblacklist_excuse_container > .post_tags {
	padding-bottom: 1rem;
}

.xkit--react .xblacklist_blacklisted_post {
    opacity: 1;
    padding: 0 !important;
}

.xkit--react .xblacklist_excuse {
    padding: var(--post-header-vertical-padding) var(--post-padding);
    margin: 0;
}

.xkit--react .xblacklist_excuse_container {
    background-color: var(--white);
    color: var(--black);
}

.xkit--react .xkit-blacklist-post-type {
    display: none;
}

.xkit--react .xblacklist_open_post {
    height: 40px;
    line-height: 42px;
    margin: 0;
    top: var(--post-header-vertical-padding) !important;
    right: var(--post-padding) !important;
}

.xkit--react .xblacklist_open_post {
	color: rgba(var(--rgb-black), 0.8);
	background: rgba(var(--rgb-black), 0.05);
	border-color: rgba(var(--rgb-black), 0.3);
}

.xkit--react .xblacklist_open_post:hover {
	color: var(--black);
	background: var(--white);
	border-color: rgba(var(--rgb-black), 0.5);
}

.xkit--react .xblacklist_open_post:active {
	color: var(--black);
	background: rgba(var(--rgb-black), 0.25);
	border-color: rgba(var(--rgb-black), 0.8);
}
