.popover {
	background-color: var(--popover, #111) !important;
}

.popover > .popover_inner {
	background: var(--popover, #111) !important;
	color: var(--primary, #DDD) !important;
	border-color: #222 !important;
	box-shadow: inset 0 1px 0 var(--border, #444) !important;
}

.pop-menu {
	background-color: var(--popover, #111) !important;
}

.popover > .popover_inner .header, 
.pop-menu .header-item {
	background-color: var(--menu-header, #000) !important;
	color: var(--primary, #DDD) !important;
	border-top-color: var(--border, #444) !important;
	border-bottom-color: var(--border, #444) !important;
}

.popover .popover_menu_item, 
.popover .popover_menu_item a {
	color: var(--primary, #DDD) !important;
}

.info_popover li, 
.info_popover li a, 
.popover .popover_menu_item, 
.popover .popover_menu_item a, 
.pop-menu .item-option {
	color: var(--primary, #DDD) !important;;
}

.info_popover li:hover, 
.info_popover li:hover a, 
.popover .popover_menu_item:hover, 
.popover .popover_menu_item:hover a, 
.pop-menu .item-option:hover {
	background-color: var(--accent-hi) !important;
	color: var(--accent-hi-text, #111) !important;
}

.info_popover li:active, 
.info_popover li:active a, 
.popover .popover_menu_item:active, 
.popover .popover_menu_item:active a, 
.popover .popover_menu_item.keyboard_focus, 
.pop-menu .item-option:active {
	background-color: var(--accent-hi2) !important;
	color: var(--accent-hi-text, #111) !important;
}

.popover .popover_menu_item:hover, 
.popover .popover_menu_item:hover a, 
.popover .popover_menu_item:active, 
.popover .popover_menu_item:active a, 
.popover .popover_menu_item.keyboard_focus {
	border-radius: 3px;
}

.popover_menu_item:hover .delete {
	background-color: var(--danger) !important;
	color: var(--primary-selected) !important;
}

/*for account-popover*/
.popover .popover_menu_item_blog:hover, 
.popover .popover_menu_item_blog:hover a {
	background-color: unset !important;
	color: unset !important;
}

.popover *:first-child .popover_menu_item:first-child:hover, 
.popover *:first-child .popover_menu_item:first-child:hover a, 
.popover *:first-child .popover_menu_item:first-child:active, 
.popover *:first-child .popover_menu_item:first-child:active a {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.popover * .popover_menu_item:nth-child(n+2):hover, 
.popover * .popover_menu_item:nth-child(n+2):hover a, 
.popover * .popover_menu_item:nth-child(n+2):active, 
.popover * .popover_menu_item:nth-child(n+2):active a {
	border-radius: 0;

}

.popover *:last-child .popover_menu_item:last-child:hover, 
.popover *:last-child .popover_menu_item:last-child:hover a, 
.popover *:last-child .popover_menu_item:last-child:active, 
.popover *:last-child .popover_menu_item:last-child:active a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}