.post-activity-popover, 
.post-activity-popover .post-activity-reply {
	border-color: var(--border, #444);
}

.post-activity-popover .popover_inner {
	background: unset;
	box-shadow: unset;
}

.post-activity-popover .post-activity-header {
	background: var(--note, #111);
	box-shadow: inset 0 1px 0 var(--border, #444);
}

.post-activity-header .return:before,
.post-activity-header .tags-mode-button:before {
	color: var(--primary, #DDD);
}

.post-activity-header .subscription-status .inner {
	fill: var(--note, #111);
}

.post-activity-header .subscription-status .outer, 
.post-activity-header .subscription-status .bolt {
	fill: var(--primary, #DDD);
}

.post-activity-header .subscription-status.is-subscribed .inner {
	fill: var(--secondary, #888);
}

.post-activity-header .subscription-status.is-subscribed .outer, 
.post-activity-header .subscription-status.is-subscribed .bolt {
	fill: #FFF;
}

.post-activity-popover .post-activity-rollups {
	background: var(--note, #111);
	cursor: pointer !important;
}

.post-activity-popover .post-activity-rollups .rollup-notes-summary {
	color: var(--primary, #DDD);
}

.post-activity-popover .note-text-reblog-parent, 
.post-activity-popover .note-text-reblog-parent a {
	color: var(--secondary, #888) !important;
}

.post-activity-popover .post-activity-notes, 
.post-activity-popover .post-activity-note, 
.post-activity-popover .post-activity-reply .editor-slot {
	background-color: var(--note, #111);
	color: var(--primary, #DDD);
}

.post-activity-popover .post-activity .header-container-inner>* {
	border-bottom-color: var(--border, #444);
}

.post-activity-popover .post-activity-note .note-text {
	color: var(--primary, #DDD);
}

.post-activity-popover .post-activity-actions-popover .popover-inner>ul button:hover {
	background-color: var(--accent-hi) !important;
	color: var(--primary-selected, #111) !important;
}

.post-activity-popover .post-activity-actions-popover .popover-inner .report:hover, 
.post-activity-popover .post-activity-actions-popover .popover-inner .block:hover {
	background-color: var(--danger) !important;
	color: var(--primary, #DDD) !important;
}

.post-activity-notes .with-commentary .post-activity-note-content {
	background-color: var(--bubble, #444);
}

.post-activity-notes .is-followed.post-activity-note {
	background-color: var(--special-bubble, #444) !important;
	border-top-color: var(--special-border, #222) !important;
	border-bottom-color: var(--special-border, #222) !important;
}

.post-activity-notes .is-followed .post-activity-note-content {
	background-color: var(--special-bubble, #222) !important;
	border-color: var(--special-border, #222) !important;
}

.post-activity-reply .inline-controls .opener, 
.post-activity-reply .inline-controls .opener:hover {
	color: var(--note, #111);
}

.post-activity-header .primary-message {
	color: var(--primary, #DDD) !important;
}

.post-activity-reply .editor-slot .editor-placeholder {
	color: var(--secondary, #888) !important;
}

.post-activity-notes .post-activity-note-content .note-added-tags, 
.post-activity-notes .post-activity-note-content .note-added-text, 
.post-activity-notes .post-activity-note-content .note-text .note-text-link {
	color: var(--primary, #DDD) !important;
}