/*=====================================all posts=====================================*/
.post_header .post_info .post_info_link:first-child {
	color: var(--primary, #DDD) !important;
}

.reblog_icon {
	font-size: 0px !important;
}

.post_header .post_info_fence .reblog_source .reblog_icon, 
.post_header .post_info_fence .reblog_source .post_info_link, 
.post_header .post_info_fence .reblog_source .post_info_link:hover, 
.post_header .post_info .submission_icon, 
.peepr-body .post_header .indash_blog .post_info_link, 
.peepr-body .post_header .indash_blog .post_info_link:hover {
	color: var(--secondary, #888);
}

.post_header .post_source_app_name {
	margin-left: 10px;
}

.post-transition-background {
	background: var(--post, #111);
}

/*no dog-ears*/
/*
.post.post_full.is_note {
	background: var(--post, #111);
}
*/

.post.post_full, 
.peepr-body .indash_blog .post {
	background: linear-gradient(225deg, transparent 0%, transparent calc((16px / 0.707) / 2), var(--post, #111) calc((16px / 0.707) / 2), var(--post, #111) 100%);
}

.post.post_full .post_wrapper {
	position: relative;
}

.peepr-body .post .post_wrapper {
	z-index: 0;
}

.post_full .post_permalink {
	position: absolute;
	z-index: unset !important;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M0 0v1h1z' fill='%23888' shape-rendering='crispEdges'/%3E%3C/svg%3E") -.1px no-repeat;
	border: unset;
	border-bottom-left-radius: 5px;
	opacity: 1;
	width: 0px;
	height: 0px;
	top: 0px;
	right: 0px;
}

.post_full:hover .post_permalink {
	width: 16px;
	height: 16px;
}

/*for a rounded corner*/
@supports (clip-path: polygon(0 0)) {
	.post_full .post_permalink:before {
		content: "";
		position: absolute;
		z-index: -1;
		display: inline-block;
		background: var(--post, #111);
		width: 16px;
		height: 16px;
		top: 0px;
		right: 0px;
		border-top-right-radius: 3px;
		clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
	}

	.post_full:hover .post_permalink:before {
		clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 0 0);
	}

	.post_full .post_permalink, 
	.post_full:hover .post_permalink, 
	.post_full .post_permalink:before, 
	.post_full:hover .post_permalink:before {
		transition: none .15s ease-in;
		transition-property: 
			width, 
			height, 
			clip-path;
	}
}

@supports not (clip-path: polygon(0 0)) {
	.post_full .post_permalink:before {
		content: "";
		position: absolute;
		z-index: -1;
		display: inline-block;
		background: linear-gradient(45deg, var(--post, #111) 50%, transparent 50%);
		width: 16px;
		height: 16px;
		top: -16px;
		right: -16px;
		padding-top: 16px;
		padding-right: 16px;
		background-clip: content-box;
	}

	.post_full:hover .post_permalink:before {
		background: linear-gradient(45deg, var(--post, #111) 49%, transparent 49%);
		background-clip: content-box;
		top: 0px;
		right: 0px;
		padding-top: 0px;
		padding-right: 0px;
	}

	.post_full .post_permalink, 
	.post_full:hover .post_permalink, 
	.post_full .post_permalink:before, 
	.post_full:hover .post_permalink:before {
		transition: none .15s ease-in;
		transition-property: 
			width, 
			height, 
			top, 
			right, 
			padding;
	}
}

.reblog_follow_button .follow-text, 
.worded-follow-button .follow-text, 
.search-follow-button .follow-text {
	color: var(--accent);
}

.reblog-list, 
.reblog-trail--original-post {
	border-top: 1px solid #444;
	border-top-color: var(--border, #444);
}

.reblog-list-item {
	border-bottom: 1px solid #444;
	border-bottom-color: var(--border, #444);
}

figure>p.tmblr-attribution {
	background-color: var(--menu-header, #000) !important;
	color: var(--secondary, #888) !important;
}

.post-content-text blockquote, 
.post .post_body blockquote, 
.reblog-content blockquote, 
.peepr-body .indash_blog .post_content blockquote {
	border-left-color: var(--primary, #BBB);
	background: #444;
	padding: 15px;
	border-radius: 0px 3px 3px 0px;
}

.npf-link-block {
	border-color: var(--border, #444);
}

.npf-link-block a {
	padding-bottom: 0px !important;
}

.npf-link-block .bottom {
	background: var(--bubble, #444) !important;
	color: var(--primary, #DDD) !important);
}

/*horizontal line*/
.post.post_full hr {
	border-top-color: var(--primary, #DDD) !important);
}

/*Keep Reading*/
.tmblr-truncated {
	margin: 15px 0;
}

.tmblr-truncated .tmblr-truncated-link, 
.tmblr-truncated:after {
	color: var(--accent) !important;
	border-bottom: unset !important;
}

.post .post-source-footer {
	background: unset;
}

.post .post-source-footer .post-source-name-prefix, 
.post .post-source-footer a.post-source-link {
	vertical-align: top;
}

.post .post-source-footer, 
.post .post-source-footer a.post-source-link, 
.post .post_tags .post_tag, 
.post .post_footer {
	color: var(--secondary, #888) !important;
}

.post_controls .post_control:before {
	color: var(--secondary, #888);
}

.post_controls .post_control.reblog.reblogged:after {
	background-color: var(--post, #111);
}

.post_full .post_tags .post_tag, 
.post_brick .post_tags .post_tag {
	background-color: var(--tag, #222);
	margin: 10px 10px 0px 0px;
	padding: 5px;
	line-height: 15px;
	border-radius: 3px;
}

.post_full .post_tags.fadeable, 
.post_full .post_tags.fadeable-source, 
.post_brick .post_tags .post_tag {
	margin-top: 0px !important;
}

.post .post_tags_inner {
	font-size: 0px;
}

.post.has_source .post_tags.draggable:before {
	background-image: linear-gradient(270deg, transparent, var(--post, #111))
}

a.post_tag.ask.post_ask_me_link:before, 
.post-source-footer:before {
	display: inline-block;
	vertical-align: top;
	font-family: tumblr-icons, blank;
	font-weight: normal;
}

a.post_tag.ask.post_ask_me_link:before {
	content: "\EA5B";
	font-size: 145%;
	padding-right: 5px;
	margin-left: -2px;
	margin-top: -0.5%;
}

a.post_tag.ask.post_ask_me_link {
	background-color: var(--bubble, #444);
	color: var(--primary, #DDD);
	vertical-align: top;
	font-weight: bold;
}

.post .post-source-footer:before {
	content: "\EA70";
	font-size: 170%;
	padding-right: 2px;
	margin-left: -4px;
}

.post .post-source-footer {
	background-color: var(--tag, #222);
	margin: 15px 10px 0px 20px;
	padding: 5px;
	line-height: 15px;
	border-radius: 3px;
	font-weight: bold;
	white-space: nowrap;
}

.post_animated_heart.unliked {
	color: var(--secondary) !important;
}

/*=====================================text posts====================================*/


/*====================================photo posts====================================*/
/*.flipcard = looking at camera information on photos*/
.flipcard .flipcard_back {
	background-color: #000;
	color: var(--primary, #DDD);
}

.flipcard .flipcard_back .photo_exif_row:not(:last-child) {
	border-bottom: 2px solid var(--secondary, #888);
}

.flipcard .flipcard_back .photo_exif_row .label {
	color: var(--secondary, #888);
	padding-top: 15px;
	padding-bottom: 15px;
}

.flipcard .flipcard_back .photo_exif_row .data {
	border: unset;
}

/*====================================quote posts====================================*/
.post_full.is_quote .post_title, 
.post_brick.is_quote .post_title {
	color: var(--primary, #DDD);
}

/*
.post_brick.is_conversation .conversation_lines .chat_line:nth-child(2n), 
.peepr-body .indash_blog .post_chrome.chat .conversation_lines .chat_line:nth-child(2n) {
	background-color: unset;
	color: var(--primary, #DDD);
}
*/

.conversation_lines .chat_line {
	background-color: unset !important;
	color: var(--primary, #DDD) !important;
}

/*=====================================link posts====================================*/
.is_link .link-button {
	background-color: var(--bubble, #444) !important;
}

.is_link .link-button:active {
	background-color: var(--link-bg, #000) !important;
}

.is_link .link-button .title,
.is_link .link-button .excerpt {
	color: var(--primary, #DDD) !important;
}

.is_link .link-button:active .title, 
.is_link .link-button:active .excerpt {
	color: var(--primary, #DDD) !important;
}

.is_link .link-button .publisher {
	color: var(--primary, #DDD) !important;
}

.is_link .link-button:active .publisher {
	color: var(--primary, #DDD) !important;
}

/*=====================================chat posts====================================*/


/*====================================audio posts====================================*/


/*====================================video posts====================================*/
.post .dockable_video_embed.docked_post_underlay {
	background-color: var(--post, #111);
}

.post .dockable_video_placeholder {
	color: var(--secondary, #888);
	border-color: var(--border, #444);
}

/*tumblr is setting the wrong height on dockable videos*/
.dockable_video_embed.docked [id^='embed-'] {
    height: unset;
}

/*=====================================ask posts=====================================*/
.post_full.is_note .post_body .note_item, 
.peepr-body .indash_blog .post_chrome.answer .post_body .note_item {
	background: var(--bubble, #444);
	border-color: var(--bubble, #444);
}

.post_full.is_note .nipple, 
.peepr-body .indash_blog .post_chrome.answer .nipple, 
.post_brick.is_note .nipple {
	border-left-color: var(--bubble, #444);
}

.asker,
.answerer {
	color: var(--primary, #DDD);
}

.post_brick.is_note .note_item {
	background-color: var(--bubble, #444);
	border-color: var(--bubble, #444);
}

/*=====================================nsfw posts====================================*/
/*no dog-ear*/ /*REQUIRES "nightfall_follow-pills.css"*/
.post .post_content_inner.safemode:before, 
.post .post_content_inner.tagfiltering:before {
	content: "";
	position: absolute;
	display: inline-block;
	background: var(--post, #111);
	width: 17px;
	height: 17px;
	top: -55px;
	right: 0px;
	border-top-right-radius: 3px;
}

.post .post_content_inner.safemode, 
.post .post_content_inner.tagfiltering {
	background: var(--link-bg, #000);
}

.safemode span.message {
	color: var(--secondary, #666);
}

/*change button colours*/
.post .post_content_inner.safemode .tx-button, 
.post .post_content_inner.tagfiltering .tx-button {
	background-color: transparent;
	border-color: var(--border, #444);
	color: var(--secondary, #666);
}

.safemode .link, 
.tagfiltering .link {
	color: var(--accent) !important;
}

.link-tagfiltering-settings.link {
	display: inline-block !important;
	box-sizing: content-box !important;
	background-color: var(--danger, #d95e40) !important;
	color: var(--primary, #DDD) !important;
	height: 15px !important;
	line-height: 15px !important;
	padding: 5px !important;
	border-radius: 3px !important;
	margin-top: 7px !important;
}

/*====================================radar posts====================================*/
.radar .radar_controls {
	background-color: var(--post, #111);
}

/*to copy post-source-footer*/
.radar .radar_controls .note_count>a, 
.radar .radar_controls .radar_button {
	color: var(--secondary, #666); 
}

.radar .radar_post, 
.radar.radar_type_regular .radar_content {
	background: var(--post, #111);
}

.radar.radar_type_regular .header_flag {
	background: #000;
	border-top-color: var(--border, #444);
	border-bottom-color: var(--border, #444);
}

.radar.radar_type_regular .radar_superglass {
	background: unset;
}

.radar.radar_type_quote 		.radar_content, 
.radar.radar_type_link 			.radar_content, 
.radar.radar_type_converstaion 	.radar_content, 
.radar.radar_type_regular 		.radar_content {
	color: var(--primary, #DDD);
	padding-top: 20px;
}

.radar.radar_type_quote 		.radar_content:after, 
.radar.radar_type_link 			.radar_content:after, 
.radar.radar_type_converstaion 	.radar_content:after, 
.radar.radar_type_regular 		.radar_content:after {
	background: var(--border, #444);
}

.radar .radar_footer .radar_avatar:before {
	background: unset;
}

#right_column:after {
	background: none !important;
}

/*=================================recommended posts=================================*/
.post.post_full.is_recommended .post_header {
	display: grid;
	grid-template-columns: auto 1fr auto auto auto;
	align-items: center;
}

.post.post_full.is_recommended .post_header .post_info_link:first-child, 
.dockable_video_embed .post_header .post_info_tumblelog {
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_full.is_recommended .post_action_wrapper, 
.post_full.is_recommended .post_action_wrapper .post_action_item {
	display: contents;
}


/*.icon_close:before, */
.post_full .post_header .post_dismiss .post_dismiss_tooltip {
	background: unset;
	color: var(--secondary, #666);
}

.icon_close:before {
	background: unset;
	color: var(--primary, #888);
}

.post_full .post_header .post_dismiss, 
.post_full .post_header .post_dismiss .post_dismiss_tooltip, 
.post_full .post_header .dismiss_icon, 
.post_full .post_header .dismiss_icon .icon_close {
	margin: 0px;
	padding: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	line-height: inherit;
}

.post_full .post_header .post_dismiss {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	display: contents;
}

.post_full .post_header .post_dismiss .post_dismiss_tooltip {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	margin-right: -300px;
	padding-left: 10px;
	opacity: 1;
	transition: margin 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.post_full .post_header .post_dismiss:hover .post_dismiss_tooltip {
	width: 100%;
	margin-right: 0px
}

.post_full .post_header .dismiss_icon {
	padding-left: 10px;
}

.recommendation-reason-footer {
	line-height: 25px;
}

.recommendation-reason-footer .recommendation-reason-link:before {
	content: "#";
	margin-right: -3px;
}

.recommendation-reason-footer .recommendation-reason-link {
	background-color: var(--tag, #222);
	background-color: var(--happy, #56bc8a);
	color: var(--post, #111) !important;
	margin: 10px 10px 0 0;
	padding: 5px;
	line-height: 15px;
	border-radius: 3px;
}

.recommendation-reason-footer .recommendation-reason-link .icon:before {
	color: var(--happy, #56bc8a);
}


.recommendation-reason-footer .recommendation-reason-link .icon {
	position: relative;
	margin: 0 3px 0 0;
	top: -1px;
}

.recommendation-reason-footer .recommendation-reason-link .icon_rounded_play {
	top: 4px;
}

/*=================================submission posts==================================*/
.post_full .post_header .post_info .post_info_link {
	vertical-align: middle;
}

.post_full .post_info .submission_icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
}

.post_full .post_info .submission_icon:before, 
.post_full .post_info .submission_icon:after {
	font-family: tumblr-icons, blank;
	vertical-align: middle;
	display: inline-block;
	font-size: 13px;
	transform-origin: center;
	transform: scale(1.5);
}

.post_full .post_info .submission_icon:before {
	content: "\EA56";
	margin-left: 15px;
}

.post_full .post_info .submission_icon:after {
	content: "\EA14";
	margin-right: 10px;
}